doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .container-fluid
                a.navbar-brand(href='/') Knowledgebase
                button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarCollapse.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-md-0
                        li.nav-item
                        a.nav-link(aria-current='page' href='/') Home
                        li.nav-item
                        a.nav-link(href='/articles/add') Add Article
                    form.d-flex(role='search')
                        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
                        button.btn.btn-outline-success(type='submit') Search
        .container
            block content
            br
            hr
            footer
                p Copyright &copy; 2024
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')